{% extends "base.html" %}
{% load blog_extras %}
{% block style %}
.prpl-link {
  color: #32004A;
  text-decoration: none;
}
.prpl-link:hover {
  color: #7500AC;
}


{% endblock %}
{% block hero_title %}Blog{% endblock %}
{% block hero_text %}Welcome to the Blog Home Page, Below you'll find the post feed.{% endblock %}
{% block content %}
{% for post in posts %}
{% container  "p-5" %}
    {% row "border-bottom m-1 p-1" %}
        {% col %}
        <h3 class="h1">{{ post.title }}</h3>
            {% include 'blog/post-byline.html' %}
            <p class="text-dark lead">{{ post.summary }}</p>
            <p>
                ({{ post.content|wordcount }} words)
                <a href="{% url 'blog:post_detail' post.slug %}" class="prpl-link">Read More</a
            </p>
        {% endcol %}
    {% endrow %}
{% endcontainer %}
{% endfor %}
{% endblock %}