{% extends "base.html" %}
{% load portfolio_extras %}
{% block content %}
<!-- Project Title / Full Summary / Detailed View -->
  <h2>{{ project.title }}</h2>
  {% row %}
    {% col "col-sm-8" %}
      {{ project.content|safe }}
    {% endcol %}
    {% col "col-sm-4" %}
    {% iframe "{{ project.link }}" %}
     {{ project.link }}
    {% endcol %}
  {% endrow %}

  {% row %}
  {% col "col-sm-6" %}
    {{ project.tags }}
  {% endcol %}
  {% col "col-sm-6" %}
  {{ project.categories }}
  {% endcol %}
{% endrow %}
{% endblock %}
