{% extends "base.html" %}
{% load project_extras %}
{% block style %}
.pt-link {
  text-decoration: none;
}
.pt-link:hover {
  color: #76717b;
}
{% endblock %}
{% block content %}
{% container  "p-5 bg-primary text-light text-right rounded" %}
  <p class="display-1">Projects</p>
  <p class="h4"><small class="text-muted">Welcome to the Projects Index Page</small></p>
{% endcontainer %}
{% for project in projects_list %}
  {% row "border-bottom p-4 mt-4" %}
    {% col %}
      <p class="display-5"><a class="pt-link" href="{% url 'projects:project_detail' project.id %}">{{ project.title }}</a></p>
      <p>{{ project.summary }}</p>
    {% endcol %}
  {% endrow %}
  {% empty %}
  {% row "border-bottom" %}
    {% col %}
      <li>Projects coming soon.</li>
    {% endcol %}
  {% endrow %}
{% endfor %}
{% endblock %}
