{% extends "base.html" %}
{% load portfolio_extras %}
{% block content %}
{% container  "p-5 bg-primary text-light text-right rounded" %}
<!-- <div class="container p-5 my-5 bg-primary text-light"> -->
  <p class="display-1">Portfolio</p>
  <p class="h4"><small class="text-muted">Welcome to my portfolio</small></p>
{% endcontainer %}
  <!-- <p class="display-4">
    <small class="text-muted"></small>
  </p>
</div> -->
  {% for project in projects %}
  {% row "border-bottom" %}
    {% col %}
      <p><strong>{{ project.categories }}</strong></p>
      <h3>{{ project.title }}</h3>
      <p>{{ project.summary }}</p>
      <p>{{ project.tags }}</p>
      <p><a href="{% url "project_detail" project.slug %}">Read More</a></p>
    {% endcol %}
  {% endrow %}
  {% endfor %}
{% endblock %}
