{% extends "land_base.html" %}
{% load about_extras %}
{% load static %}

{% block style %}
{% endblock %}

{% block hero_title %}Resume{% endblock %}
{% block hero_text %}{% endblock %}


{% block content %}
{% for section in section_list %}
  {% row "border-top border-bottom p-4 mt-4" %}
    {% col "col-12" %}
     <h2 class="display-5">{{ section.title }}</h2>
    {% endcol %}
  {% endrow %}
  {% row "p-4 mt-4" %}
    {% for entry in section.entry_set.all %}
      {% col "col-12" %}
       <p class="lead">{{ entry.content|safe }}</p>
      {% endcol %}
    {% endfor %}
  {% endrow %}
{% endfor %}


{% endblock %}