{% extends "land_base.html" %}
{% load project_extras %}
{% block style %}
.pt-link {
  text-decoration: none;
}
.pt-link:hover {
  color: #76717b;
}
#media-icon {
  color: #bab2c2;
  font-size: 96px;
  margin-left: 10%;
  margin-right: 10%;
}
#media-icon:hover {
  color: #f6f5f7;
}


{% endblock %}
{% block hero_title %}Projects{% endblock %}
{% block hero_text %}Welcome to the Projects Index Page{% endblock %}
{% block content %}
{% for project in projects_list %}
  {% row "border-bottom p-4 mt-4" %}
  <div class="clearfix">
    {% col "col-sm-12 col-md-7" %}
    <span class="float-start">
      <h3 class="h1"><a class="pt-link" href="{% url 'projects:project_detail' project.id %}">{{ project.title }}</a></h3>
      <p class="h3"><small class="text-muted">{{ project.summary }}</small></p>
    {% endcol %}
    </span>

    <span class="float-end me-5 bg-primary rounded text-center p-4">
    {% col "col-sm-12 col-md-5 bg-primary" %}
      <p class="monospace">{{ project.content_upload }}</p>
    {% endcol %}
    </span>
  </div>
  {% endrow %}
  {% empty %}
  {% row "border-bottom" %}
    {% col %}
      <li>Projects coming soon.</li>
    {% endcol %}
  {% endrow %}
{% endfor %}
{% endblock %}
